.title {
  margin-bottom: 30px;
  font-family: $font-main;
  font-weight: bold;
  text-align: center;
  color: $color;
  line-height: normal;
  font-size: 18px;
}
.descr {
  font-family: $font-main;
  font-weight: normal;
  text-align: center;
  line-height: normal;
  color: $color;
  font-size: 16px;
}

/*header*/
.main-header{
  padding-top: 24px;
  min-height: 500px;
  margin-bottom: 80px;
  background-color: $bg-footer;
  background: url("/assets/img/main-bg.svg") repeat-x;
  background-size: cover;
}
.header {
  min-height: 50px;
  margin-bottom: 80px;
}

.header__menu {
  margin-left: 46px;

  ul {
    margin-top: 14px;

    li {
      display: inline-block;

      a {
        position: relative;
        display: block;
        margin-right: 61px;
        color: $header-color;
        font-size: 16px;

        &:focus,
        &:hover{
          color: $green-color;
        }
      }
    }
  }
}

.header__menu ul li:last-child a {
  margin-right: 0;
}
.header__menu--login {
  text-align: right;
  ul {
    li {
      a {
        margin-right: 30px;
      }
    }
  }
}

.header__menu .products::after {
  content: '';
  top: 10px;
  right: -17px;
  position: absolute;
  width: 11px;
  height: 5px;
  background: url("/assets/img/arrow.svg") no-repeat;
}

.main-top {

  .main-top__title {
    max-width: 380px;
    font-weight: 300;
    margin: 0 auto;
    margin-bottom: 84px;
    font-family: $font-second;
    font-size: 48px;
    line-height: 58px;
    text-align: center;
    color: $header-color;
  }

  .main-top__descr {
    max-width: 880px;
    margin: 0 auto;
    margin-bottom: 90px;
    font-family: $font-main;
    font-weight: normal;
    font-size: 18px;
    text-align: center;
    color: $header-color;
  }
}

.header__mobile-menu {
  display: none;
}


/*elements*/

.elements {
  min-height: 380px;
  margin-bottom: 80px;
}
.elements__title {
  margin-bottom: 32px;
}
.elements__item {
  position: relative;
  max-width: 340px;
  min-height: 323px;
  padding: 129px 35px 35px;
  background-color: $elements__item-bg;

  img {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
  }

  .elements__item-title {
    display: block;
    margin-bottom: 11px;
  }

  .descr--item {
    max-width: 270px;
    font-size: 14px;
    margin: 0 auto;
    margin-bottom: 37px;
    text-align: left;
  }
  .elements__link {
    position: absolute;
    left: 50%;
    bottom: 30px;
    font-family: $font-main;
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
    color: $elements__link-color;
    transform: translate(-50%);

    &:focus {
      color: $green-color;
    }
  }
}

/*advantages*/
.advantages {
  margin-bottom: 80px;

  .advantages__title {
    margin-bottom: 30px;
  }
  .advantages__descr {
    margin-bottom: 61px;
    text-align: left;
  }

  .advantages__item {
    position: relative;
    min-width: 270px;
    margin-bottom: 50px;
    padding-top: 90px;

    img {
      position: absolute;
      display: block;
      top: 0;
      left: 50%;
      transform: translate(-50%);
    }
    .advantages__item-title {
      display: block;
      margin-bottom: 11px;
    }
    .descr--item {
      max-width: 273px;
      font-size: 14px;
      margin: 0 auto;
    }
  }
  .advantages__item-link {
    text-decoration: underline;

    &:focus {
      color: $green-color;
    }
  }
  .btn {
    display: block;
    margin: 0 auto;
    max-width: 233px;

    padding: 18px 50px;
    font-family: $font-main;
    font-size: 14px;
    font-weight: normal;
    color: $color;

    border: 1px solid $green-color;
    border-radius: 4px;

    &:focus,
    &:hover{
      color: $green-color;
      background-color: $elements__item-bg;
    }
  }
}

/*worlwide*/

.worlwide {
  margin-bottom: 117px;

  .worlwide--descr {
    text-align: left;
    margin-bottom: 20px;
  }
  .worlwide--descr-last {
    margin-bottom: 28px;
  }
  .worlwide__client {
    max-width: 760px;
    margin: 0 auto;

    img {
      margin-right: 35px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/*footer*/
.footer {
  background-color: $bg-footer;
  padding-top: 40px;

  .footer__top {
    text-align: center;
    margin-bottom: 26px;

    ul {
      li {
        display: inline-block;

        a {
          display: block;
          margin-right: 25px;
          font-family: $font-main;
          font-weight: normal;
          font-size: 16px;
          color: $header-color;

          text-transform: uppercase;

          &:focus,
          &:hover{
            color: $green-color;
          }
        }
      }
    }
  }
  .footer__links {
    margin-bottom: 27px;
    text-align: center;

    a {
      display: inline-block;
      width: 50px;
      height: 50px;
      background-color: $footer__links-bg;
      border-radius: 25px;

      margin-right: 31px;

      text-align: center;

      &:hover,
      &:focus {
        background-color: $green-color;
      }

      img {
        margin-top: 9px;
      }
    }
  }

  .footer__copright {
    margin-bottom: 54px;
    padding-right: 25px;
    font-family: $font-main;
    font-weight: bold;
    font-size: 15px;
    color: $header-color;

    text-align: center;
  }
}

.header__mobile {
  display: none;
}
.header__mobile-active {
  display: block;
}
.header__mobile-menu {
  text-align: right;

  .burger-menu {
    position: relative;
    border: none;
    width: 33px;
    height: 3px;
    background-color: #fff;
    text-align: right;
    cursor: pointer;

    &::before {
      position: absolute;
      left: 0;
      top: -7px;
      content: '';
      width: 33px;
      height: 3px;
      background-color: #fff;
    }
    &::after {
      position: absolute;
      left: 0;
      bottom: -7px;
      content: '';
      width: 33px;
      height: 3px;
      background-color: #fff;
    }
  }
}


@media(max-width: $desktop-width) {
  .header__menu {
    margin-left: 20px;
    ul {
      li {
        a {
          margin-right: 35px;
        }
      }
    }
  }
}

@media(max-width: 993px) {
  .header__mobile-menu {
    display: block;
    margin-top: 10px;
  }
  .elements__item {
    padding: 129px 20px 35px;
  }
  .worlwide .worlwide__client {
    max-width: 500px;
    text-align: center;
  }
  .worlwide .worlwide__client img{
    margin-bottom: 25px;
  }


  .header__mobile-active {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 30px 0;
    min-height: 100px;
    background-color: $bg-footer;
    z-index: 2;

    .header__menu {
      margin-top: -10px;
      margin-bottom: 30px;
      margin-left: 0;
      ul li {
        width: 135px;
        display: block;
        margin: 0 auto;
        text-align: center;

        a {
          display: block;
          margin-right: 0;
          margin-bottom: 15px;
          font-size: 20px;
        }
      }
    }
    .header__menu--login {
      text-align: left;
    }

    .header__menu .products:after {
      right: 7px;
    }

    .header__mobile-menu--active {
      .burger-menu {
        transform: rotate(45deg);

        &:before {
          left: -1px;
          top: 0px;
          transform: rotate(-90deg);
        }
        &::after {
          display: none;
        }
      }
    }

  }
}

@media(max-width: $tablet-width) {
  .advantages .advantages__item {
    min-width: 200px;
  }
  .elements__item {
    margin: 0 auto;
    margin-bottom: 50px;
  }
}