@font-face {
  font-weight: normal;
  font-family: "PT_Sans";
  font-style: normal;
  src: url("/assets/fonts/PT_Sans-Web-Regular.ttf") format("truetype");
}
@font-face {
  font-weight: bold;
  font-family: "PT_Sans";
  font-style: normal;
  src: url("/assets/fonts/PT_Sans-Web-Bold.ttf") format("truetype");
}

@font-face {
  font-weight: 400;
  font-family: "OpenSans";
  font-style: normal;
  src: url("/assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-weight: 300;
  font-family: "OpenSans";
  font-style: normal;
  src: url("/assets/fonts/OpenSans-Light.ttf") format("truetype");
}