html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  overflow-x: hidden;

  font-size: 14px;
  line-height: normal;
  font-family: $font-main;
  color: $color;

  background-color: $bg-color;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}