$font-main: PT_Sans;
$font-second: OpenSans;
$bg-color: #fff;
$color: #000;
$green-color: #85b657;
$header-color: #fff;
$bg-footer: #19263F;
$elements__item-bg: #FAFAFA;
$elements__link-color: #1657AB;
$footer__links-bg: rgba(255, 255, 255, 0.3);

$tablet-width: 768px;
$desktop-width: 1200px;